.about {
    background: #aaa;
    display: flex;
    height: 130vh;
    position: relative;
}
.about-photos {
    padding: 1rem;
    position: relative;
    width: 50%;
    height: 100%;
}

.about-photo {
    height: 400px;
    width: 600px;
    border: 1px solid #555;
    border-radius: 1rem;
    background: #000;
    position: absolute;
    display: grid;
    place-items: center;
    color: white;
    font-size: 3rem;
}

.left1 {
    left: 5%;
    top: 5%;
}

.right1 {
    right: 5%;
    bottom: 5%;
}

.about-content {
    position: absolute;
    width: 80%;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(170, 170, 170, 0.75);
    padding: 0.5rem;
    padding-bottom: 3rem;
    border-radius: 3rem;
}
.about-title {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}
.about-text {
    padding-top: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.8;
}