.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chevron {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  background: var(--gold);
  border-radius: 0.5rem;
}


.chevron svg {
  width: 3rem;
  height: 3rem;
  color: var(--blue)
}

@media (max-width: 760px) {
  .chevron {
    right: 1rem;
  }

  .chevron svg {
    width: 2rem;
    height: 2rem;
  }
}