.section {
  background: white;
}

.text_container {
  margin: 0 auto;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

.description {
  color: var(--black);
  width: 26dvw;
}

.description .title {
  margin-bottom: 1.5rem;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.75rem;
  color: var(--gold);
}

.description p {
  color: 111;
  line-height: 1.75;
  font-weight: 300;
  font-size: 1.3rem;
  color: var(--blue);
}

.image {
  height: 55vh;
  object-fit: cover;
  width: 100%;
}