.section {
  background: white;
}

.text_container {
  margin: 0 auto;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

.description {
  color: var(--black);
  width: 26dvw;
}

.description h3 {
  margin-bottom: 1.5rem;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.75rem;
  background: linear-gradient(165deg, rgb(193, 185, 129), rgb(100, 85, 9));
  -webkit-background-clip: text;
  color: transparent
}

.description p {
  color: 111;
  line-height: 1.75;
  font-weight: 300;
  font-size: 1.3rem;

}

.image {
  height: 55vh;
  object-fit: cover;
  width: 100%;
}