.footer {
  height: 8rem;
  background: var(--blue);
  color: var(--light-gold);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer a {
  background: linear-gradient(165deg, rgb(76, 88, 147), black, rgb(76, 88, 147));
  margin: 1rem;
  border: 1px solid #555;
}