.hero {
  margin-top: var(--navbar-desktop-height);
  height: calc(100dvh - var(--navbar-desktop-height));
}

.image {
  height: 55vh;
  object-fit: cover;
  width: 100%;
}

.text_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.title {
  font-size: 6rem;
  font-weight: 300;
  background: linear-gradient(165deg, rgb(245, 236, 170), rgb(100, 85, 9));
  -webkit-background-clip: text;
  color: transparent
}

.sub_title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #575757;
  font-weight: 400;
}


.footer {
  font-weight: 400;
  color: #979797;
}

.footer span {
  margin: 0 1rem;
  font-size: 1.25rem;
}