.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-bottom: 1px solid #444;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  background: #222;
}

.navList {
  display: flex;
  gap: 2rem;
}